html,
body,
#root,
.room {
  height: 100%;
  margin: 0;
}
.lit {
  background-color: white;
  color: black;
}
.dark {
  background-color: black;
  color: white;
}
.cold {
  background-color: blue;
  color: white;
}
.pleasant {
  background-color: green;
}
.hot {
  background-color: red;
  color: yellow;
}
